@keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#C1 {
  animation: hideshow 18s ease infinite;
}

#C2 {
  opacity: 0;
  animation: hideshow 18s 2s ease infinite;
}

#C3 {
  opacity: 0;
  animation: hideshow 18s 4s ease infinite;
}

#C4 {
  opacity: 0;
  animation: hideshow 18s 6s ease infinite;
}

#C5 {
  opacity: 0;
  animation: hideshow 18s 8s ease infinite;
}

#C6 {
  opacity: 0;
  animation: hideshow 18s 10s ease infinite;
}

#C7 {
  opacity: 0;
  animation: hideshow 18s 12s ease infinite;
}

#C8 {
  opacity: 0;
  animation: hideshow 18s 14s ease infinite;
}

#C9 {
  opacity: 0;
  animation: hideshow 18s 16s ease infinite;
}
