@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* background image */
body {
  background-image: radial-gradient(circle at 50%, #1b4a64 0%, #000 100%);
}
